﻿@model MicroIMDBV2.Models.Movie

@{ 
    ViewBag.Title = "Add";
}

@using (Html.BeginForm("Add", "Movie", FormMethod.Post, new { @class = "form-horizontal"}))
{
    <h2>Add Movie</h2>
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label"})
        <div class="col-md-10"> @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })</div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Year, new { @class = "col-md-2 control-label"})
        <div class="col-md-10"> @Html.TextBoxFor( m => m.Year, new { @class = "form-control" }) </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10"> <input type="submit" class="btn btn-default" value="Add Movie" /></div>
    </div>
}